<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            Directory explorer
        </div>
        <div class="panel-body">
            <label>Add new folder</label>
            <div class="input-group ">
                <input id="new-dir" type="text" class="form-control ">
                <span class="input-group-btn">
                    <button id="add" class="btn btn-primary btn-small">+</button>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <input id="select-toggle" type="checkbox"> <label>Select all folders</label>
            <a id="delete-selected" href="#" class="delete-all btn btn-danger btn-xs">Delete selected</a>
        </div>
        <ul id="file-list" class="list-group"></ul>
    </div>
</div>